version: "3.8"

services:
  web:
    build: .
    ports:
      - "3015:3015"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    container_name: portfolio
    networks:
      - shared_network

volumes:
  postgres_data:

networks:
  shared_network:
    external: true
