.about__container1 {
  display: grid;
  grid-template-columns: 35% 50% ;
  gap : 15%
}
.about__content1 a{
  margin-top: 15px;

}

.about__me1 {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-image1 {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition) ;
}

.about__me-image1:hover{
  transform: rotate(0);
}
.about__cards1 {
  display: grid ;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card1 {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: (--transition);
}

/* .about__card1:hover {
  background: #2c2c6c3f;
  backdrop-filter: blur(3px);
  border-color: var(--color-bg-variant);
  cursor:default;
} */

.about__icon1 {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;

}

.about__card1 h5{
  font-size: 0.95rem;
}
.about__card1 small{
  font-size: 0.7rem;
  color: var(--color-light);
}

p{
  padding: 20px 0 0 0;
}
/* ========== MEDIA QUERIES (MEDIA DEVICES) ========== */

@media screen and (max-width: 1024px) {
    
  .about__container1{
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me1 {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about__content1 p {
    margin: 1rem 0 1.5rem ;
  }

  }

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
  .about__me1{
    width: 65%;
    margin: 0 auto 3rem;
  }
  .about__cards1{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about__content1 {
    text-align: center;
  }
  .bout__content1 p{
    margin: 1.5rem 0;
  }
}
