@import 'tailwindcss';

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-brand: var(--color-bg);
  --color-brand-foreground: hsl(var(--color-primary-hsl));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --background-image-vc-border-gradient: radial-gradient(
    at left top,
    oklch(0.551 0.027 264.364),
    50px,
    oklch(0.278 0.033 256.848) 50%
  );
  --background-image-custom-vc-border-gradient: radial-gradient(
    at left top,
    oklch(0.278 0.033 256.848),
    50px,
    oklch(0.551 0.027 264.364) 50%
  );
  --background-image-light-custom-gradient: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.02) 100%
  );
  --background-image-light-custom-y-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.02) 90%
  );
  --background-image-custom-gradient: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.18) 25%,
    rgba(255, 255, 255, 0.02) 100%
  );

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-ripple: ripple var(--duration, 1.5s) ease calc(var(--i, 0) * 0.1s)
    infinite;
  --animate-hover-tada: hover-tada 1s ease-in-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }
  @keyframes ripple {
    50% {
      transform: scale(var(--scale, 1.25));
    }
  }
  @keyframes hover-tada {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9) rotate(-3deg);
    }
    20% {
      transform: scale(0.9) rotate(-3deg);
    }
    30% {
      transform: scale(1.1) rotate(3deg);
    }
    40% {
      transform: scale(1.1) rotate(-3deg);
    }
    50% {
      transform: scale(1.1) rotate(3deg);
    }
    60% {
      transform: scale(1.1) rotate(-3deg);
    }
    70% {
      transform: scale(1.1) rotate(3deg);
    }
    80% {
      transform: scale(1.1) rotate(-3deg);
    }
    90% {
      transform: scale(1.1) rotate(3deg);
    }
    100% {
      transform: scale(1) rotate(0);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  html {
    scroll-behavior: smooth;
  }

  /* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6cea;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: white;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
  }
} */

  @font-face {
    font-family: Kalameh;
    src: url(/public/assets//fonts/KALAMEHFANUM-BOLD.TTF);
  }
  @font-face {
    font-family: Iransansx;
    src: url(/public/assets//fonts/IRANSANSX-REGULAR.TTF);
  }

  .blog-title {
    font-family: Kalameh;
  }
  .blog-text {
    font-family: Iransansx;
  }
  a,
  h4,
  h2 {
    font-family: Iransansx;
  }
  .blog-background {
    background: repeating-conic-gradient(
        #1a1a2f 0 0.00011%,
        #b7020200 0 0.0002%
      )
      40% 40%/3000px 3000px;
  }
  .blog-background-sm {
    background: repeating-conic-gradient(
        #1a1a2f 0 0.00011%,
        #b7020200 0 0.0002%
      )
      40% 40%/1000px 1000px;
  }
  /* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&family=Press+Start+2P&display=swap"); */
}

@layer base {
  :root {
    height: fit-content;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6cea;
    --color-primary: #4db5ff;
    --color-primary-hsl: 205, 100%, 65%;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: white;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
    --custom: linear(
      0 0% 0.5%,
      0.1723 0.7925%,
      0.2408 0.865%,
      0.1991 1.6425%,
      0 7.69% 13.69%,
      0.3451 3.795%,
      0.0006 3.94%,
      0.5332 4.37%,
      0.0001 4.895%,
      0.595 5.175%,
      0.0001 6.29%,
      0.6263 6.755%,
      0.0004 7.7775%,
      0.4634 7.8725%,
      0.4869 8.075%,
      0.6052 8.455%,
      0.6504 8.9525%,
      0.0011 9.0925%,
      0.6832 10.3875%,
      0.2716 11.5425%,
      0.5783 11.6675%,
      0.5956 13.0475%,
      0.1565 13.6625%,
      0.869 15.095%,
      0.4566 15.745%,
      0.3918 15.975%,
      0.4768 16.1675%,
      0.3041 17.29%,
      0.5036 17.295%,
      0.9561 17.96%,
      0.4202 18.1475%,
      0.9997 18.59%,
      0.9389 18.9675%,
      0.5199 19.5325%,
      0.9878 19.6325%,
      0.5212 19.8075%,
      0.8476 21.1625%,
      0.5724 21.615%,
      0.7517 21.9%,
      0.5716 22.4%,
      0.8177 22.8325%,
      0.9997 23.865%,
      1 25%,
      1 100%
    );
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
@keyframes flickerfull {
  25% {
    opacity: 0.2;
    filter: drop-shadow(0 -3vmin 3vmin hsl(180, 0%, 0%, 0))
      drop-shadow(0 0 6vmin hsl(180, 80%, 50%, 0));
  }
}
.flickerfull {
  animation: flickerfull 1s infinite var(--custom) alternate;
}
@keyframes flicker {
  0%,
  100% {
    --opacity: 1;
  }
  25% {
    --opacity: 0.2;
  }
}
[data-flick] {
  --custom: linear(
    0 0% 0.5%,
    0.1723 0.7925%,
    0.2408 0.865%,
    0.1991 1.6425%,
    0 7.69% 13.69%,
    0.3451 3.795%,
    0.0006 3.94%,
    0.5332 4.37%,
    0.0001 4.895%,
    0.595 5.175%,
    0.0001 6.29%,
    0.6263 6.755%,
    0.0004 7.7775%,
    0.4634 7.8725%,
    0.4869 8.075%,
    0.6052 8.455%,
    0.6504 8.9525%,
    0.0011 9.0925%,
    0.6832 10.3875%,
    0.2716 11.5425%,
    0.5783 11.6675%,
    0.5956 13.0475%,
    0.1565 13.6625%,
    0.869 15.095%,
    0.4566 15.745%,
    0.3918 15.975%,
    0.4768 16.1675%,
    0.3041 17.29%,
    0.5036 17.295%,
    0.9561 17.96%,
    0.4202 18.1475%,
    0.9997 18.59%,
    0.9389 18.9675%,
    0.5199 19.5325%,
    0.9878 19.6325%,
    0.5212 19.8075%,
    0.8476 21.1625%,
    0.5724 21.615%,
    0.7517 21.9%,
    0.5716 22.4%,
    0.8177 22.8325%,
    0.9997 23.865%,
    1 25%,
    1 100%
  );
  animation: flicker calc(var(--speed) * 1s) calc(var(--delay) * -1s) infinite
    var(--custom) alternate;
  opacity: clamp(0.2, var(--opacity), 1);
}
h1 span {
  --shadow: color-mix(in lch, #4db5ff 90%, hsl(0 0% 100% / 0.5));
  color: transparent;
  /*	-webkit-text-stroke: 0.0025em #4db5ff;*/
  -webkit-text-stroke: 0.015em #4db5ff;
  /*	letter-spacing: 0.025em;*/
  filter: drop-shadow(0.02em 0.02em 0.1em hsl(0 0% 100% / 0.25))
    drop-shadow(0.02em 0.02em 0.2em #4db5ff)
    drop-shadow(0.02em 0.02em 0.6em var(--shadow)) brightness(1.25);
  user-select: none;
}

/* @​keyframes dim {
  opacity: 0.25;
} */

::selection {
  background-color: #4db5ff7c;
}

::-webkit-scrollbar {
  /* display: none; */
  width: 12px;
  /* animation-duration: 100ms; */
  transition: all 1s ease;
}
/* ::-webkit-scrollbar:hover {
  display: none;
  width: 16px;
} */
::-webkit-scrollbar-track {
  background: #266d98;
}
::-webkit-scrollbar-thumb {
  background: #5ac2ff;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #98d8ec;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  /* line-height: 1.7; */
  background-image: url(../assets/moroccan-flower-dark.webp);
}

/* ======GENERAL STYLES ======*/

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 3rem;
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  background: rgba(0, 21, 83, 0.416);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ========== MEDIA QUERIES (MEDIA DEVICES) ========== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}
/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-md);
  }

  section > h2 {
    margin-top: 2rem;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
